.copyright {
  align-items: flex-end;
  background-color: var(--blue-whale);
  display: flex;
  height: 74px;
  left: 0;
  min-width: 1938px;
  padding: 21px 319px;
  position: absolute;
  top: 330px;
}

.copyrightleft {
  letter-spacing: 0;
  line-height: 14px;
  min-height: 22px;
  min-width: 208px;
  text-align: right;
  white-space: nowrap;
}

.copyrightright {
  letter-spacing: 0;
  line-height: 14px;
  margin-left: 756px;
  min-height: 22px;
  min-width: 238px;
  text-align: right;
  white-space: nowrap;
}

.copyright-1 {
  align-items: flex-end;
  background-color: var(--blue-whale);
  display: flex;
  height: 74px;
  left: 0;
  min-width: 1938px;
  padding: 21px 319px;
  position: absolute;
  top: 330px;
}

.copyrightleft-1 {
  letter-spacing: 0;
  line-height: 14px;
  min-height: 22px;
  min-width: 208px;
  text-align: right;
  white-space: nowrap;
}

.copyrightright-1 {
  letter-spacing: 0;
  line-height: 14px;
  margin-left: 756px;
  min-height: 22px;
  min-width: 238px;
  text-align: right;
  white-space: nowrap;
}

.copyright-2 {
  align-items: flex-end;
  background-color: var(--blue-whale);
  display: flex;
  height: 74px;
  left: 0;
  min-width: 1938px;
  padding: 21px 319px;
  position: absolute;
  top: 330px;
}

.copyrightleft-2 {
  letter-spacing: 0;
  line-height: 14px;
  min-height: 22px;
  min-width: 208px;
  text-align: right;
  white-space: nowrap;
}

.copyrightright-2 {
  letter-spacing: 0;
  line-height: 14px;
  margin-left: 756px;
  min-height: 22px;
  min-width: 238px;
  text-align: right;
  white-space: nowrap;
}

.copyright-3 {
  align-items: flex-end;
  background-color: var(--blue-whale);
  display: flex;
  height: 74px;
  left: 0;
  min-width: 1938px;
  padding: 21px 319px;
  position: absolute;
  top: 330px;
}

.copyrightleft-3 {
  letter-spacing: 0;
  line-height: 14px;
  min-height: 22px;
  min-width: 208px;
  text-align: right;
  white-space: nowrap;
}

.copyrightright-3 {
  letter-spacing: 0;
  line-height: 14px;
  margin-left: 756px;
  min-height: 22px;
  min-width: 238px;
  text-align: right;
  white-space: nowrap;
}

