.address-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 1311px;
  min-height: 115px;
  padding: 2.5px 0;
  position: absolute;
  top: 67px;
  width: 207px;
}

.address {
  letter-spacing: 0;
  line-height: 18px;
  min-height: 25px;
  white-space: nowrap;
}

.address-1 {
  letter-spacing: 0;
  line-height: 41px;
  margin-top: 17px;
  min-height: 61px;
  white-space: nowrap;
}

.address-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 1311px;
  min-height: 115px;
  padding: 2.5px 0;
  position: absolute;
  top: 67px;
  width: 207px;
}

.address-2 {
  letter-spacing: 0;
  line-height: 18px;
  min-height: 25px;
  white-space: nowrap;
}

.address-3 {
  letter-spacing: 0;
  line-height: 41px;
  margin-top: 17px;
  min-height: 61px;
  white-space: nowrap;
}

.address-col-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 1311px;
  min-height: 115px;
  padding: 2.5px 0;
  position: absolute;
  top: 67px;
  width: 207px;
}

.address-4 {
  letter-spacing: 0;
  line-height: 18px;
  min-height: 25px;
  white-space: nowrap;
}

.address-5 {
  letter-spacing: 0;
  line-height: 41px;
  margin-top: 17px;
  min-height: 61px;
  white-space: nowrap;
}

.address-col-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 1311px;
  min-height: 115px;
  padding: 2.5px 0;
  position: absolute;
  top: 67px;
  width: 207px;
}

.address-6 {
  letter-spacing: 0;
  line-height: 18px;
  min-height: 25px;
  white-space: nowrap;
}

.address-7 {
  letter-spacing: 0;
  line-height: 41px;
  margin-top: 17px;
  min-height: 61px;
  white-space: nowrap;
}

