@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Raleway:wght@200&display=swap");
/* General site styling and formating */

*::-webkit-scrollbar {
  display: none;
}

.home {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 3093px;
  overflow: hidden;
  padding: 41px 0;
  position: relative;
  width: 1920px;
}

.home_content {
    position:relative;
    /* background-image: url('../Images/Background.PNG'); */
    height: 100vh;
    vertical-align: center;

}
.header {
  align-items: center;
  display: flex;
  height: 92px;
  margin-left: 19px;
  min-width: 1595px;
}

.logo {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: 69px;
  margin-bottom: -13.5px;
  min-height: 94px;
  min-width: 266px;
  text-align: center;
  white-space: nowrap;
}

.button {
  align-items: flex-end;
  display: flex;
  height: 66px;
  margin-left: 481px;
  min-width: 848px;
  position: relative;
}

.place {
  letter-spacing: 0;
  line-height: 36px;
  margin-bottom: 5px;
  min-height: 46px;
  min-width: 102px;
  white-space: nowrap;
}

.courses {
  cursor: pointer;
  letter-spacing: 0;
  line-height: 36px;
  margin-bottom: 4px;
  margin-left: 37px;
  min-height: 46px;
  min-width: 134px;
  white-space: nowrap;
}

.community {
  letter-spacing: 0;
  line-height: 36px;
  margin-bottom: 4px;
  margin-left: 37px;
  min-height: 46px;
  min-width: 197px;
  white-space: nowrap;
}

.pricing {
  letter-spacing: 0;
  line-height: 36px;
  margin-bottom: 4px;
  margin-left: 41px;
  min-height: 46px;
  min-width: 117px;
  white-space: nowrap;
}

.flex-row {
  align-items: center;
  display: flex;
  margin-left: 35px;
  margin-top: 20px;
  min-width: 1539px;
}

.flex-col {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  min-height: 327px;
  width: 359px;
}

.welcome-title {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 102px;
  width: 359px;
}

.overlap-group-1 {
  height: 62px;
  margin-right: 0;
  margin-top: 5px;
  position: relative;
  width: 359px;
}

.today-is-the-day {
  left: 2px;
  letter-spacing: 0;
  line-height: 49px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.divider {
  height: 2px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 60px;
  width: 355px;
}

.text-1 {
  letter-spacing: 0;
  line-height: 23px;
  margin-left: 3px;
  margin-top: 8px;
  min-height: 30px;
  min-width: 314px;
  white-space: nowrap;
}

.sign-up {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-right: 2px;
  margin-top: 83px;
  min-height: 142px;
  width: 299px;
}

.group-3 {
  align-items: center;
  background-color: var(--white);
  border-radius: 15px;
  display: flex;
  height: 50px;
  min-width: 299px;
  padding: 0 23px;
}

.your-email-address {
  background-color: transparent;
  border: 0;
  flex-shrink: 1;
  height: 30px;
  letter-spacing: 0;
  line-height: 23px;
  padding: 0;
  resize: none;
  text-align: left;
  white-space: nowrap;
  width: 198px;
}

.your-email-address::placeholder {
  color: #31303099;
}

.group-5 {
  align-items: flex-end;
  background-color: var(--dodger-blue);
  border-radius: 15px;
  box-shadow: 0px 0px 15px #00000069;
  display: flex;
  height: 46px;
  justify-content: flex-end;
  margin-left: 4px;
  margin-top: 13px;
  min-width: 243px;
  padding: 7px 48px;
}

.free-sign-up {
  color: var(--white);
  font-family: var(--font-family-rigsans-semibold);
  font-size: 21px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 21px;
  min-height: 27px;
  min-width: 145px;
  white-space: nowrap;
}

.text-2 {
  color: var(--concord);
  font-family: var(--font-family-rig_sans);
  font-size: var(--font-size-xxs);
  font-weight: 600;
  letter-spacing: 0;
  line-height: 10px;
  margin-left: 1px;
  margin-top: 10px;
  min-height: 28px;
  min-width: 188px;
  white-space: nowrap;
}

.span-1 {
  text-decoration: underline;
}

.pictures {
  align-items: flex-start;
  display: flex;
  margin-left: 71px;
  min-width: 1109px;
}

.overlap-group1 {
  height: 537px;
  position: relative;
  width: 1109px;
}

.o-level {
  height: 537px;
  left: 221px;
  pointer-events: auto;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 226px;
}

.o-level:hover {
  transform: scale(1.1);
}

.overlap-group {
  background-position: 50% 50%;
  background-size: cover;
  height: 567px;
  left: -15px;
  position: relative;
  top: -15px;
  width: 256px;
}

.gradient {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #808080 100%);
  height: 185px;
  left: 20px;
  position: absolute;
  top: 367px;
  width: 216px;
}

.o-level-grads {
  left: 65px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 396px;
  white-space: nowrap;
}

.line-1 {
  height: 1px;
  left: 68px;
  object-fit: cover;
  position: absolute;
  top: 418px;
  width: 122px;
}

.text-3 {
  left: 76px;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  top: 426px;
  white-space: nowrap;
}

.name {
  left: 69px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 490px;
  white-space: nowrap;
}

.a-level {
  height: 537px;
  left: 442px;
  pointer-events: auto;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 226px;
}

.a-level:hover {
  transform: scale(1.1);
}

.gradient-1 {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #808080 100%);
  height: 185px;
  left: 15px;
  position: absolute;
  top: 367px;
  width: 221px;
}

.a-level-grads {
  left: 64px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 396px;
  white-space: nowrap;
}

.line-2 {
  height: 1px;
  left: 64px;
  object-fit: cover;
  position: absolute;
  top: 418px;
  width: 128px;
}

.text-4 {
  left: 77px;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  top: 422px;
  white-space: nowrap;
}

.name-1 {
  left: 72px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 490px;
  white-space: nowrap;
}

.poly {
  height: 537px;
  left: 663px;
  pointer-events: auto;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 226px;
}

.poly:hover {
  transform: scale(1.1);
}

.gradient-2 {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #808080 100%);
  height: 185px;
  left: 15px;
  position: absolute;
  top: 367px;
  width: 219px;
}

.x-grads {
  left: 79px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 396px;
  white-space: nowrap;
}

.line-3 {
  height: 1px;
  left: 80px;
  object-fit: cover;
  position: absolute;
  top: 418px;
  width: 102px;
}

.name-2 {
  left: 53px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 490px;
  white-space: nowrap;
}

.start-up-young-star {
  left: 84px;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  top: 422px;
  white-space: nowrap;
}

.uni {
  height: 537px;
  left: 882px;
  pointer-events: auto;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 227px;
}

.uni:hover {
  transform: scale(1.1);
}

.overlap-group4 {
  background-position: 50% 50%;
  background-size: cover;
  height: 567px;
  left: -14px;
  position: relative;
  top: -15px;
  width: 256px;
}

.gradient-3 {
  height: 185px;
  left: 14px;
  object-fit: cover;
  position: absolute;
  top: 367px;
  width: 227px;
}

.line-4 {
  height: 2px;
  left: 76px;
  object-fit: cover;
  position: absolute;
  top: 417px;
  width: 94px;
}

.name-3 {
  left: 29px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 490px;
  white-space: nowrap;
}

.text-5 {
  left: 67px;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  top: 420px;
  white-space: nowrap;
}

.psle {
  height: 537px;
  left: 0;
  pointer-events: auto;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 226px;
}

.psle:hover {
  transform: scale(1.1);
}

.gradient-4 {
  height: 185px;
  left: 15px;
  object-fit: cover;
  position: absolute;
  top: 367px;
  width: 226px;
}

.psle-grads {
  left: 76px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 396px;
  white-space: nowrap;
}

.path-2 {
  height: 1px;
  left: 74px;
  object-fit: cover;
  position: absolute;
  top: 419px;
  width: 107px;
}

.text-6 {
  left: 74px;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  top: 426px;
  white-space: nowrap;
}

.name-4 {
  left: 66px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 490px;
  white-space: nowrap;
}

.text-7 {
  letter-spacing: 0;
  line-height: 58px;
  margin-left: 3px;
  margin-top: 67px;
  min-height: 74px;
  min-width: 673px;
  white-space: nowrap;
}

.features {
  align-items: flex-start;
  display: flex;
  margin-left: 1px;
  margin-top: 40px;
  min-width: 1613px;
}

.features-block-1 {
  align-items: flex-start;
  display: flex;
  height: 136px;
  justify-content: center;
  min-width: 332px;
}

.overlap-group-2 {
  align-items: flex-end;
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin-top: -6px;
  min-height: 154px;
  padding: 38.5px 63px;
  width: 350px;
}

.x99-classes {
  align-self: center;
  letter-spacing: 0;
  line-height: 36px;
  margin-left: 2px;
  margin-top: 4px;
  min-height: 46px;
  min-width: 192px;
  white-space: nowrap;
}

.text-8 {
  letter-spacing: 0;
  line-height: 18px;
  margin-top: 2px;
  min-height: 25px;
  min-width: 222px;
  white-space: nowrap;
}

.features-block {
  align-items: flex-start;
  display: flex;
  height: 136px;
  justify-content: center;
  margin-left: 95px;
  min-width: 332px;
}

.overlap-group1-1 {
  align-items: flex-end;
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin-top: -6px;
  min-height: 154px;
  padding: 37.5px 64px;
  width: 350px;
}

.x80-subject {
  letter-spacing: 0;
  line-height: 36px;
  margin-right: 3px;
  margin-top: 5px;
  min-height: 46px;
  min-width: 203px;
  white-space: nowrap;
}

.text-9 {
  letter-spacing: 0;
  line-height: 18px;
  margin-top: 3px;
  min-height: 25px;
  min-width: 208px;
  white-space: nowrap;
}

.overlap-group2 {
  align-items: flex-end;
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin-top: -6px;
  min-height: 154px;
  padding: 37.5px 69px;
  width: 350px;
}

.x20-lessons {
  letter-spacing: 0;
  line-height: 36px;
  margin-top: 5px;
  min-height: 46px;
  min-width: 209px;
  white-space: nowrap;
}

.average-per-class {
  align-self: center;
  letter-spacing: 0;
  line-height: 18px;
  margin-left: 2px;
  margin-top: 3px;
  min-height: 25px;
  min-width: 146px;
  white-space: nowrap;
}

.overlap-group3 {
  align-items: flex-end;
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin-top: -6px;
  min-height: 154px;
  padding: 37.5px 93px;
  width: 350px;
}

.address {
  align-self: center;
  letter-spacing: 0;
  line-height: 36px;
  margin-left: 3px;
  margin-top: 6px;
  min-height: 46px;
  min-width: 137px;
  white-space: nowrap;
}

.average-per-lesson {
  letter-spacing: 0;
  line-height: 18px;
  margin-top: 2px;
  min-height: 25px;
  min-width: 162px;
  white-space: nowrap;
}

.guess-what-you-like {
  letter-spacing: 0;
  line-height: 58px;
  margin-left: 3px;
  margin-top: 143px;
  min-height: 74px;
  min-width: 541px;
  white-space: nowrap;
}

.flex-row-1 {
  align-items: flex-start;
  display: flex;
  margin-left: 1px;
  margin-top: 57px;
  min-width: 1553px;
  position: relative;
}

.listing-block {
  background-color: var(--white);
  border-radius: 15px;
  box-shadow: 0px 0px 15px #00000029;
  height: 560px;
  margin-left: 64px;
  pointer-events: auto;
  position: relative;
  transition: all 0.2s ease;
  width: 471px;
}

.listing-block:hover {
  transform: scale(1.1);
}

.thumbnail {
  border-radius: 15px;
  height: 311px;
  left: 33px;
  object-fit: cover;
  position: absolute;
  top: 11px;
  width: 405px;
}

.course-title {
  left: 48px;
  letter-spacing: 0;
  line-height: 27px;
  position: absolute;
  top: 324px;
  white-space: nowrap;
}

.like-button {
  height: 30px;
  left: 390px;
  object-fit: cover;
  position: absolute;
  top: 499px;
  width: 33px;
}

.lecture {
  left: 48px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 480px;
  white-space: nowrap;
}

.students {
  left: 53px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 416px;
  white-space: nowrap;
}

.time {
  left: 321px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 416px;
  white-space: nowrap;
}

.rating {
  left: 281px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 502px;
  white-space: nowrap;
}

.flex-row-2 {
  align-items: flex-start;
  display: flex;
  margin-left: 1px;
  margin-top: 83px;
  min-width: 1553px;
  position: relative;
}

.listing-block-1 {
  background-color: var(--white);
  border-radius: 15px;
  box-shadow: 0px 0px 15px #00000029;
  height: 560px;
  pointer-events: auto;
  position: relative;
  transition: all 0.2s ease;
  width: 471px;
}

.listing-block-1:hover {
  transform: scale(1.1);
}

.overlap-group6 {
  height: 345px;
  left: 33px;
  position: absolute;
  top: 11px;
  width: 405px;
}

.thumbnail-1 {
  border-radius: 15px;
  height: 311px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 405px;
}

.course-title-1 {
  left: 15px;
  letter-spacing: 0;
  line-height: 27px;
  position: absolute;
  top: 310px;
  white-space: nowrap;
}

.lecture-1 {
  left: 48px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 478px;
  white-space: nowrap;
}

.s-ign-up-button-footer {
  align-items: flex-end;
  background-color: var(--dodger-blue);
  border-radius: 15px;
  box-shadow: 0px 0px 15px #00000069;
  display: flex;
  height: 76px;
  justify-content: flex-end;
  margin-left: 1px;
  margin-top: 66px;
  min-width: 481px;
  padding: 13.5px 142px;
}

.button-1 {
  color: var(--white);
  font-family: var(--font-family-rigsans-semibold);
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 32px;
  min-height: 41px;
  min-width: 195px;
  white-space: nowrap;
}
