.listing-block-9 {
  background-color: var(--white);
  border-radius: 15px;
  box-shadow: 0px 0px 15px #00000029;
  height: 560px;
  pointer-events: auto;
  position: relative;
  transition: all 0.2s ease;
  width: 471px;
}

.listing-block-9:hover {
  transform: scale(1.1);
}

.thumbnail-2 {
  border-radius: 15px;
  height: 311px;
  left: 33px;
  object-fit: cover;
  position: absolute;
  top: 11px;
  width: 405px;
}

.course-title-2 {
  left: 48px;
  letter-spacing: 0;
  line-height: 27px;
  position: absolute;
  top: 324px;
  white-space: nowrap;
}

.like-button-1 {
  height: 30px;
  left: 390px;
  object-fit: cover;
  position: absolute;
  top: 499px;
  width: 33px;
}

.lecture-2 {
  left: 48px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 478px;
  white-space: nowrap;
}

.students-1 {
  left: 53px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 416px;
  white-space: nowrap;
}

.time-1 {
  left: 321px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 416px;
  white-space: nowrap;
}

.rating-1 {
  left: 281px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 502px;
  white-space: nowrap;
}

.listing-block-9.listing-block-2 {
  margin-left: 76px;
}

.listing-block-9.listing-block-2:hover {
  transform: scale(1.1);
}

.listing-block-9.listing-block-10 {
  margin-left: 64px;
}

.listing-block-9.listing-block-3 {
  background-color: var(--white);
  border-radius: 15px;
  box-shadow: 0px 0px 15px #00000029;
  height: 560px;
  pointer-events: auto;
  position: relative;
  transition: all 0.2s ease;
  width: 471px;
}

.listing-block-9.listing-block-3:hover {
  transform: scale(1.1);
}

.listing-block-9.listing-block-4 {
  margin-left: 76px;
}

.listing-block-9.listing-block-4:hover {
  transform: scale(1.1);
}

.listing-block-9.listing-block-5 {
  margin-left: 64px;
}

.listing-block-9.listing-block-5:hover {
  transform: scale(1.1);
}

.listing-block-9.listing-block-6 {
  background-color: var(--white);
  border-radius: 15px;
  box-shadow: 0px 0px 15px #00000029;
  height: 560px;
  pointer-events: auto;
  position: relative;
  transition: all 0.2s ease;
  width: 471px;
}

.listing-block-9.listing-block-6:hover {
  transform: scale(1.1);
}

.listing-block-9.listing-block-7 {
  margin-left: 76px;
}

.listing-block-9.listing-block-7:hover {
  transform: scale(1.1);
}

.listing-block-9.listing-block-8 {
  margin-left: 64px;
}

.listing-block-9.listing-block-8:hover {
  transform: scale(1.1);
}

