.group-9837 {
    align-items: flex-start;
    background-color: var(--white);
    border: 1px solid #707070;
    display: flex;
    height: 595px;
    min-width: 1227px;
    padding: 23px 58px;
}

.overlap-group {
    height: 537px;
    position: relative;
    width: 1109px;
}

.o-level {
    height: 537px;
    left: 221px;
    pointer-events: auto;
    position: absolute;
    top: 0;
    transition: all 0.2s ease;
    width: 226px;
}

.o-level:hover {
    transform: scale(1.1);
}

.overlap-group1 {
    background-image: url(https://anima-uploads.s3.amazonaws.com/projects/60fb38268710c213142d3202/releases/60fb3840250e19bfc564e6f2/img/profileo@1x.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 567px;
    left: -15px;
    position: relative;
    top: -15px;
    width: 256px;
}

.gradient {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #808080 100%);
    height: 185px;
    left: 20px;
    position: absolute;
    top: 367px;
    width: 216px;
}

.o-level-grads {
    left: 65px;
    letter-spacing: 0;
    line-height: 20px;
    position: absolute;
    top: 396px;
    white-space: nowrap;
}

.line-1 {
    height: 1px;
    left: 68px;
    object-fit: cover;
    position: absolute;
    top: 418px;
    width: 122px;
}

.text-1 {
    left: 76px;
    letter-spacing: 0;
    line-height: 10px;
    position: absolute;
    top: 426px;
    white-space: nowrap;
}

.name {
    left: 69px;
    letter-spacing: 0;
    line-height: 22px;
    position: absolute;
    top: 490px;
    white-space: nowrap;
}

.a-level {
    height: 537px;
    left: 442px;
    pointer-events: auto;
    position: absolute;
    top: 0;
    transition: all 0.2s ease;
    width: 226px;
}

.a-level:hover {
    transform: scale(1.1);
}

.overlap-group2 {
    background-image: url(https://anima-uploads.s3.amazonaws.com/projects/60fb38268710c213142d3202/releases/60fb3840250e19bfc564e6f2/img/profilea@1x.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 567px;
    left: -15px;
    position: relative;
    top: -15px;
    width: 256px;
}

.gradient-1 {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #808080 100%);
    height: 185px;
    left: 15px;
    position: absolute;
    top: 367px;
    width: 221px;
}

.a-level-grads {
    left: 64px;
    letter-spacing: 0;
    line-height: 20px;
    position: absolute;
    top: 396px;
    white-space: nowrap;
}

.line-2 {
    height: 1px;
    left: 64px;
    object-fit: cover;
    position: absolute;
    top: 418px;
    width: 128px;
}

.text-2 {
    left: 77px;
    letter-spacing: 0;
    line-height: 10px;
    position: absolute;
    top: 422px;
    white-space: nowrap;
}

.name-1 {
    left: 72px;
    letter-spacing: 0;
    line-height: 22px;
    position: absolute;
    top: 490px;
    white-space: nowrap;
}

.poly {
    height: 537px;
    left: 663px;
    pointer-events: auto;
    position: absolute;
    top: 0;
    transition: all 0.2s ease;
    width: 226px;
}

.poly:hover {
    transform: scale(1.1);
}

.overlap-group3 {
    background-image: url(https://anima-uploads.s3.amazonaws.com/projects/60fb38268710c213142d3202/releases/60fb3840250e19bfc564e6f2/img/profilepoly@1x.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 567px;
    left: -15px;
    position: relative;
    top: -15px;
    width: 256px;
}

.gradient-2 {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #808080 100%);
    height: 185px;
    left: 15px;
    position: absolute;
    top: 367px;
    width: 219px;
}

.x-grads {
    left: 79px;
    letter-spacing: 0;
    line-height: 20px;
    position: absolute;
    top: 396px;
    white-space: nowrap;
}

.line-3 {
    height: 1px;
    left: 80px;
    object-fit: cover;
    position: absolute;
    top: 418px;
    width: 102px;
}

.name-2 {
    left: 53px;
    letter-spacing: 0;
    line-height: 22px;
    position: absolute;
    top: 490px;
    white-space: nowrap;
}

.start-up-young-star {
    left: 84px;
    letter-spacing: 0;
    line-height: 10px;
    position: absolute;
    top: 422px;
    white-space: nowrap;
}

.uni {
    height: 537px;
    left: 882px;
    pointer-events: auto;
    position: absolute;
    top: 0;
    transition: all 0.2s ease;
    width: 227px;
}

.uni:hover {
    transform: scale(1.1);
}

.overlap-group4 {
    background-image: url(https://anima-uploads.s3.amazonaws.com/projects/60fb38268710c213142d3202/releases/60fb3840250e19bfc564e6f2/img/profleuni@1x.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 567px;
    left: -14px;
    position: relative;
    top: -15px;
    width: 256px;
}

.gradient-3 {
    height: 185px;
    left: 14px;
    object-fit: cover;
    position: absolute;
    top: 367px;
    width: 227px;
}

.line-4 {
    height: 2px;
    left: 76px;
    object-fit: cover;
    position: absolute;
    top: 417px;
    width: 94px;
}

.name-3 {
    left: 29px;
    letter-spacing: 0;
    line-height: 22px;
    position: absolute;
    top: 490px;
    white-space: nowrap;
}

.text-3 {
    left: 67px;
    letter-spacing: 0;
    line-height: 10px;
    position: absolute;
    top: 420px;
    white-space: nowrap;
}

.psle {
    height: 537px;
    left: 0;
    pointer-events: auto;
    position: absolute;
    top: 0;
    transition: all 0.2s ease;
    width: 226px;
}

.psle:hover {
    transform: scale(1.1);
}

.overlap-group5 {
    background-image: url(https://anima-uploads.s3.amazonaws.com/projects/60fb38268710c213142d3202/releases/60fb3840250e19bfc564e6f2/img/profilepsle@1x.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 567px;
    left: -15px;
    position: relative;
    top: -15px;
    width: 256px;
}

.gradient-4 {
    height: 185px;
    left: 15px;
    object-fit: cover;
    position: absolute;
    top: 367px;
    width: 226px;
}

.psle-grads {
    left: 76px;
    letter-spacing: 0;
    line-height: 20px;
    position: absolute;
    top: 396px;
    white-space: nowrap;
}

.path-2 {
    height: 1px;
    left: 74px;
    object-fit: cover;
    position: absolute;
    top: 419px;
    width: 107px;
}

.text-4 {
    left: 74px;
    letter-spacing: 0;
    line-height: 10px;
    position: absolute;
    top: 426px;
    white-space: nowrap;
}

.name-4 {
    left: 66px;
    letter-spacing: 0;
    line-height: 22px;
    position: absolute;
    top: 490px;
    white-space: nowrap;
}

@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
.smart-layers-pointers, .smart-layers-pointers * {
    pointer-events: auto;
    visibility: visible;
}

* {
    box-sizing: border-box;
}