.more-about-us-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 813px;
  min-height: 156px;
  padding: 2.5px 0;
  position: absolute;
  top: 67px;
  width: 116px;
}

.more-from-us {
  letter-spacing: 0;
  line-height: 18px;
  min-height: 25px;
  white-space: nowrap;
}

.text-1 {
  letter-spacing: 0;
  line-height: 41px;
  margin-top: 17px;
  min-height: 102px;
  white-space: nowrap;
}

.more-about-us-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 813px;
  min-height: 156px;
  padding: 2.5px 0;
  position: absolute;
  top: 67px;
  width: 116px;
}

.more-from-us-1 {
  letter-spacing: 0;
  line-height: 18px;
  min-height: 25px;
  white-space: nowrap;
}

.text-12 {
  letter-spacing: 0;
  line-height: 41px;
  margin-top: 17px;
  min-height: 102px;
  white-space: nowrap;
}

.more-about-us-col-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 813px;
  min-height: 156px;
  padding: 2.5px 0;
  position: absolute;
  top: 67px;
  width: 116px;
}

.more-from-us-2 {
  letter-spacing: 0;
  line-height: 18px;
  min-height: 25px;
  white-space: nowrap;
}

.text-14 {
  letter-spacing: 0;
  line-height: 41px;
  margin-top: 17px;
  min-height: 102px;
  white-space: nowrap;
}

.more-about-us-col-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 813px;
  min-height: 156px;
  padding: 2.5px 0;
  position: absolute;
  top: 67px;
  width: 116px;
}

.more-from-us-3 {
  letter-spacing: 0;
  line-height: 18px;
  min-height: 25px;
  white-space: nowrap;
}

.text-16 {
  letter-spacing: 0;
  line-height: 41px;
  margin-top: 17px;
  min-height: 102px;
  white-space: nowrap;
}

