.login-button-1 {
  background-color: var(--dodger-blue);
  border-radius: 15px;
  box-shadow: 0px 0px 15px #00000066;
  height: 66px;
  margin-left: 50px;
  pointer-events: auto;
  position: relative;
  transition: all 0.2s ease;
  width: 133px;
}

.login-button-1:hover {
  transform: scale(1.1);
}

.login-1 {
  left: 18px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 18px;
  white-space: nowrap;
}

.login-button-1.login-button {
  margin-left: 54px;
}

.login-button-1.login-button:hover {
  transform: scale(1.1);
}

.login-button-1.login-button-2 {
  margin-left: 54px;
}

