.button-4-1 {
  align-items: flex-start;
  display: flex;
  height: 16px;
  margin-bottom: 9.0px;
  margin-left: 66px;
  min-width: 16px;
}

.overlap-group2-4 {
  height: 10px;
  position: relative;
  width: 16px;
}

.button-4-1.button-5 {
  margin-left: 44px;
}

.button-4-1.button-6 {
  margin-left: 32px;
}

.button-4-1.button-7 {
  left: 120px;
  margin-bottom: unset;
  margin-left: unset;
  position: absolute;
  top: 27px;
}

.button-4-1.group-9835 {
  margin-bottom: unset;
  margin-left: 7px;
  margin-top: 1.0px;
}

.button-4-1.button-9 {
  align-items: flex-start;
  display: flex;
  height: 16px;
  margin-bottom: 9.0px;
  margin-left: 44px;
  min-width: 16px;
}

.button-4-1.button-10 {
  align-items: flex-start;
  display: flex;
  height: 16px;
  margin-bottom: 9.0px;
  margin-left: 32px;
  min-width: 16px;
}

.button-4-1.button-11 {
  align-items: flex-start;
  display: flex;
  height: 16px;
  left: 120px;
  min-width: 16px;
  position: absolute;
  top: 27px;
}

.button-4-1.group-9835-1 {
  align-items: flex-start;
  display: flex;
  height: 16px;
  margin-left: 7px;
  margin-top: 1.0px;
  min-width: 16px;
}

